# PyDev
.project
.pydevproject
.settings/
#debug/

#ignore thumbnails created by windows
Thumbs.db
**/.cache/*
offline/*

# Compiled files
*.pyc
*.py~ 
*.tlog
AWG/Lecroy_csharp_TCP_server/Lecroy1102AWG/obj/

# Configuration files
*.swp
*.swo
-Mini*
.this_s*
.DS_Store
*-project.db
__pycache__/*
__pycache__
.gitignore.*
tags
Rabi_analysis.pdf
messages
manual/*.aux
manual/*.synctex.gz
pppCompiler/YtterbiumScan.auto.pp
config/PulsePrograms/YtterbiumScan2.pp
config/PulsePrograms/YbGateSequence.pp
config/PulsePrograms/generated_pp/
config/testbench_PulsePrograms/generated_pp/
manual/Manual.toc
AutoLoad.dot
AutoLoad.png
Statemachine.dot
Statemachine.png
config/PulseProgramsPlus/generated_pp/MicrowaveGateSequence.ppc
chain.png
*.ppc
*.c~
debug.bin
*shuttling.xml
.idea/
config/ProjectConfig.yml
pppCompiler/parser.out
pppCompiler/parsetab.py
modules/parser.out
modules/parsetab.py
profile.dot
profile.pdf
profile.pkl
clr.pyd
dll/
tests/tutorial_files/
unittests/pygsti_addons/temp*
*.pkl
.vscode/
tests/push.py
evaltree.db
*.pem